.contactBg {
    margin-top: 6rem;
    width: 100%;
    height: auto;
    background: $primary;
  
    .card {
      margin-top: 5rem !important;
      height: auto;
      margin: 0 auto;
  
      .contactHadding {
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $lightBlue;
  
        h1 {
          text-align: center;
          margin-top: 3rem;
          width: 12rem;
          border-bottom: 2px solid $lightBlue;
          margin-right: 3px;
        }
      }
  
      .conatacDiv {
        margin: 0 auto;
        width: 80%;
  
        .form-floating {
          margin-top: 2rem;
          input:focus {
            border-color: $light;
            box-shadow: 0 0 0 0.1rem $lightBlue;
          }
          textarea:focus {
            border-color: $light;
            box-shadow: 0 0 0 0.1rem $lightBlue;
          }
          .error-msg {
            margin: 0;
            padding: 0%;
            color: red;
          }
        }
      }
    }
  
    @media only screen and (min-width: 1200px) {
      .card {
        width: 70%;
      }
    }
  }
  